# Sample workflow for continuous integration for a VitePress site

name: CI

on:
  workflow_call:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: 'npm'
      - name: Lint lockfile
        run: npx --yes lockfile-lint --path `package-lock.json` --type npm --allowed-hosts npm --validate-https
      - run: npm ci --only=production
      - name: Build
        run: npm run build